.accueilanotherUsers {
  overflow: auto;
  width: 100%;
  max-height: 350px;
  height: 16px;
}

.accueilanotherUsersText {
  color: #009018;
  float: right;
  margin-top: 8px
}

.accueilRecherche {
  background-color: white;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.rechercheaccueilDiv {
  overflow: auto;
  max-height: 625px;
  width: 100%;
}

.accueilRechercheMessage {
  color: black;
  margin-left: 10px;
}

.accueilRechercheMessageBy {
  text-align: right;
  color: #0000aa;
  margin-right: 10px;
}

.accueilRechercheMot {
  text-align: center;
  font-size: 40px;
}

.accueilTextWhite {
  color: white;
}

.accueilusersOnline {
  overflow-y: auto;
  max-height: 655px
}

.col-sm-3 {
  margin-right: 75px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #F9FCFC;
  border: 2px solid #239CE0;
}

#form-titre {
  text-align: center;
  font-size: 45px;
}

#friendsOnline {
  margin-right: 95px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 2px solid #00DD64;
}

html {
  background: url('/html.jpg');
}

.overflow {
  overflow: auto;
  width: 80%;
  max-height: 80%;
}

p {
  color: #233B69;
}
