.accueilanotherUsers {
  overflow: auto;
  max-height: 350px;
  height: 16px;
}

.accueilanotherUsersText {
  color: #009018;
  float: right;
  margin-top: 8px
}

.accueilRecherche {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.rechercheaccueilDiv {
  overflow: auto;
  max-height: 625px;  
}

.accueilRechercheMessage {
  color: black;
  margin-left: 10px;
}

.accueilRechercheMessageBy {
  text-align: right;
  color: #0000aa;
  margin-right: 10px;
}

.accueilRechercheMot {
  text-align: center;
  font-size: 40px;
}

.accueilTextWhite {
  color: white;
}

#anotherUsers {
  margin-top: 20px;
  border-radius: 3px;
  background-color: #F9FCFC;
}

#form-titre {
  text-align: center;
  font-size: 45px;
}

#friendsOnline {
  margin-top: 20px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 4px solid #AAF9B5;
}

html {
  background: url('/html.jpg');
}

p {
  color: #233B69;
}
