#form-titre{
  text-align: center;
}

body{
  background-color : #EDEDED,
}

p {
  color:#233B69;
}

.col-sm-3{
  margin-right: 95px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #F9FCFC;
  border: 2px solid #239CE0;
}


#connecté{
  margin-right: 95px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 2px solid #009018;
}
