#form-titre{
  text-align: center;
}

body {
    background:AppWorkspace;
}

p{
  color:#223966;
}

.chat{
  border-radius: 3px;
  min-width: 10px;
  max-width : 550px ;
  background-color :#FFFFFF ;
  margin-top : 10px; ;
  overflow: hidden;
}

.text-success{
  margin-left : auto;
}
