#form-titre{
  text-align: center;
}


body {
    background:AppWorkspace;
}
p{
  color:#223966;
}
.col-sm-3{
  margin-right: 95px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #F5F5F5;
  border: 2px solid #239CE0;
}

.contact{
  overflow: auto;
  width: 1148px;
  height: 391.167px;
  background-color: AppWorkspace;
}
