#form-titre {
  text-align: center;
}

p {
  color: #223966;
}

label {
  color: white;
  font-size: 13px;
}

.form-group>a {
  color: white;
}

.formConnexion {
  width: 30%;
  margin: auto;
  height: 566px;
  background-color: rgba(105, 130, 127, 0.8);
}

.tailleConnexion {
  width: 60%;
  height: 807px;
}

.divConnexion {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.inputConnexion {
  border: 1px solid #acacac;
  background: black;
}

.html {
  background: url("lac.jpg")  ;
}
