

  #form-titre{
  text-align: center;
}

p{
  color:#223966;
}

.discu{
  text-align: center;
  width:100%;
}

.scroo{
    text-align: center;
    width:100%;
    overflow: auto;
    max-height: 391.167px;
    height: 260px;
    background-color : white;
}

td, tr{
  width: 1140px;
  vertical-align: middle;
}

td{
  text-align: center;
  margin:0 auto;
}

.rond{
  border-radius: 60px;
  width:15px;
  height: 15px;
  background-color: #2E54F3;
}
.discuss{
  height:50px  ;
  width : 100% ;
  border-bottom: #dedede 1px solid;
  font-size : 16px
}
