.discussionColor223966 {
  color: #223966;
  padding-left: 15px;
}

.discussionDevDelete {
  text-align: center;
  border-bottom: #dedede 1px solid;
}

.discussionEach {
  height: 50px;
  border-bottom: #dedede 1px solid;
  font-size: 16px;
}

.discussionNoFriend {
  height: 50px;
  background: #bce8f1;
}

.discussionNotificationRond {
  border-radius: 60px;
  width: 15px;
  height: 15px;
  background-color: #2E54F3;
}

.discussionRed {
  color: red;
}

#discussionTitle {
  text-align: center;
  font-size: 35px;
}

#form-titre {
  text-align: center;
}

p {
  color: #223966;
}

td, tr {
  width: 1140px;
  vertical-align: middle;
}

td {
  text-align: center;
  margin: 0 auto;
}
