#form-titre{
  text-align: center;
}


body {
    background:#EFEFEF;
}
p{
  color:#4d4d4d;
}

.discu{
  border: 2px black;
  background-color: white;
  margin:0 auto;
}

.rond{
  border-radius: 60px;
  width:15px;
  height: 15px;
  background-color: orange;
}
