* {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1700px) {
  .main {
    padding-left: 300px;
    padding-right: 300px;
  }
  .tab {
    padding-left: calc(100vw / 15);
  }
}

@media screen and (min-width: 430px;) {
  .messageBoutonSend {
    width: 80%;
  }
  .buttonSendSpan {
    width: 20%;
  }
}

@media screen and (max-width: 991px) {
  body {
    width: 100%;
  }
  .container {
    padding: inherit;
    padding-top: 0px;
    max-height: auto;
  }
  .dis {
    height: calc(100vh - 165px);
  }
  .discussionColor223966 {
    padding-left: inherit;
  }
  .droite {
    min-width: 100vw;
    ;
    height: calc(100vh - 50px);
  }
  .gauche {
    height: calc(100vh - 50px);
    max-width: 250px;
  }
  .infoPerso {
    width: inherit;
    margin-right: 10px;
  }
  #messages {
    height: 30px;
  }
  .messageAmi {
    height: calc(100vh - 108px);
    ;
    max-height: calc(100vh - 108px);
    ;
  }
  .messageChatDiv {
    font-size: 14px;
  }
  .messageHeure {
    font-size: 14px;
    height: 20px;
  }
  .messageContacAnthoner {
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
  }
  .messageDateSend {
    width: 112px;
    font-size: 14px;
  }
  .newContactImage {
    margin-top: -185px;
    margin-right: 8px;
    height: 128px;
  }
  .perso {
    font-size: 15px;
  }
  .tab {
    width: 100%;
    padding: inherit;
  }
  .tableauMessage {
    padding-top: inherit;
    width: 100%;
    height: calc(100vh - 50px);
    display: inline-flex;
    overflow-x: auto;
  }
  .wap {
    padding: inherit;
    height: calc(100vh - 50px);
  }
}

@media screen and (max-width: 800px) {
  .messageChatDiv {
    max-width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .messageChatDiv {
    max-width: 300px;
  }
}

@media screen and (max-width: 350px) {
  body {
    width: 100%;
  }
  .container {
    padding: inherit;
    padding-top: 0px;
    max-height: auto;
  }
  .dis {
    height: calc(100vh - 165px);
  }
  .discussionColor223966 {
    padding-left: inherit;
  }
  .droite {
    min-width: 100vw;
    ;
    height: calc(100vh - 50px);
  }
  .gauche {
    height: calc(100vh - 50px);
    max-width: 250px;
  }
  .infoPerso {
    width: inherit;
    margin-right: 10px;
  }
  #messages {
    height: 30px;
  }
  .messageAmi {
    height: calc(100vh - 108px);
    ;
    max-height: calc(100vh - 108px);
    ;
  }
  .messageChatDiv {
    font-size: 14px;
    max-width: 200px;
  }
  .messageHeure {
    font-size: 14px;
    height: 20px;
  }
  .messageContacAnthoner {
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
  }
  .messageDateSend {
    width: 112px;
    font-size: 14px;
  }
  .newContactImage {
    margin-top: -185px;
    margin-right: 8px;
    height: 128px;
  }
  .perso {
    font-size: 15px;
  }
  .tab {
    width: 100%;
  }
  .tableauMessage {
    padding-top: inherit;
    width: 100%;
    height: calc(100vh - 50px);
    display: inline-flex;
    overflow-x: auto;
  }
  .wap {
    padding: inherit;
    height: calc(100vh - 50px);
  }
}

@media screen and (max-width: 311px) {
  #messages {
    width: 60%;
    height: 22px;
  }
  .buttonSendSpan {
    width: 40%;
  }
  #messageSend {
    height: 40px;
    width: 40px;
  }
  .perso {
    font-size: 12px;
  }
}

body {
  height: 100%;
  padding-top: 50px;
  background: none;
}

.col-sm-3 {
  background-image: url('contact.jpg');
}

#defaultRecherche {
  border: solid 1px #cecece;
}

.defaultForm {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}
html {
  height: 100%;
}

.form-control {
  background-color: white;
  border: #a1a1a1;
}

.form-group {
  margin-top: 30px;
}

li {
  text-align: center;
  font-size: 17px;
}

.rondInscr {
  border-radius: 60px;
  width: 15px;
  height: 15px;
  background-color: #2E54F3;
  z-index: 1;
  position: absolute;
  right: 3px;
}
