.rondInscr {
  border-radius: 60px;
  width: 15px;
  height: 15px;
  background-color: #50E846;
  z-index: 1;
  position: absolute;
  right: 3px;
}

body {
  height: 100%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background: none;
}

.conainer {
  width: 100%;
  height: 100%;
}

html {
  background: url('/html.svg');
  height: 100%;
  width: 100%;
}

.form-group {
  margin-top: 30px;
}

li {
  text-align: center;
  font-size: 17px;
}

.form-control {
  background-color: white;
  border: #a1a1a1;
}

#recherche {
  border: solid 1px #cecece;
}

label {
  color : white;
}
