 p {
   color: #223966;
 }

 #formInscription {
   width: 30%;
   margin-right: auto;
   margin-left: auto;
   height: 600px;
   background-color: rgba(105, 130, 127, 0.8);
 }

 #divInscription {
   width: 60%;
   margin-left: auto;
   margin-right: auto;
 }

 .html {
   background: url("lac.jpg")  ;
 }

 #showPassword1 {
   border: transparent;
   background: transparent;
   font-size: 12px;
 }

 #showPassword2 {
   border: transparent;
   background: transparent;
   font-size: 12px;
 }
