#enregister {
  font-size: 17px;
  color: green;
}

#form-titre {
  text-align: center;
}

.newContactAttributs {
  color: #223966;
  margin-left: 5px;
}

.newContactButton {
  color: white;
  border: none;
  background: transparent;
  font-size: 17px;
}

.newContactDivSize {
  border: 1px solid #239CE0;
  background: #F9FCFC;
}

.newContactImage {
  float: right;
  height: 155px;
  margin-top: -130px;
  margin-right: 10%;
}

.newContactLinkContact {
  color: white;
  font-size: 17px;
}

p {
  color: #223966;
}

#retour {
  float: right;
  color: red;
}
